:root {
    --main-bg-color: #070707;
    --text-font: 'JetBrains Mono', monospace;
    --title-font: 'Tomorrow', sans-serif;
    --light-grey-color: rgba(255, 255, 255, 0.726);
    body{
        height:100%
    }
}

.main-bg {
    background-color: var(--main-bg-color);
}

// .fadeIn{
//     animation: fadeInAnimation ease 2s;
//     animation-iteration-count: 1;
//     animation-fill-mode: forwards;
// }

@keyframes fadeInAnimation{ 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@media screen and (max-width: 724px)
{   
    body{
        background-image: url("../assets/IMG/sable6000.jpg") !important;
        background-size: cover;
        width: 100%;

    }
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/IMG/okokokmodif.png");
    background-color: var(--main-bg-color);
    background-size: 100%;
    background-repeat: no-repeat;
    // height:100vh;
    width: 100%;
    color: white;
    #first {
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        // position: absolute !important;
        // top: 40% !important;
        h1 {
            font-family: var(--title-font);
            margin-left: 3rem !important;
            margin-right: 3rem !important;
            font-weight: 700;
            top: 40% !important;
            width: auto;
        }
        h2 {
            font-family: var(--text-font);
            margin-left: 3rem !important;
            margin-right: 3rem !important;
            font-weight: 100 !important;
            color: var(--light-grey-color);
            width: auto;
        }
    }
    #SECOND{
        // position: static !important;
        animation: fadeInAnimation ease 0.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        top:50rem;
    }

    #secSecond{
        // margin-top:8rem;
        // height: 100% !important;        ;

    }
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--light-grey-color);
    font-size: 1.5rem;
    padding: 1.5rem;
    font-family: var(--text-font);
    font-weight: 100;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: transform 350ms ease-in-out;
    font-weight: 200 !important;
}